.container {
  display: flex;
  block-size: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
  inline-size: 300px;
  border-radius: 5px;
  padding: 20px;
  background: rgb(232, 232, 232);

  input, select, button {
    padding: 10px;
    border-radius: inherit;
    background: rgb(255, 255, 255);
    border: none;
  }
}
